* {
    font-family: "Mulish", sans-serif;

}

section {
    margin: 50px 135px 50px 135px;
    max-width: 1170px;
}

/*header section style*/
.nav-bar{
    display:none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}

nav>ul {
    display: flex;

}

a {
    text-decoration: none;
}

nav li {
    list-style: none;
    padding-left: 50px;
}

.icon {
    display: flex;
    align-items: center;

}

.nav-title {
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1rem;
}

.nav-img {
    width: 3rem;
    height: 3.5rem;

}

.infinite {
    color: #131318;
}

.travel {
    color: #FF5400;
}

#home {
    color: #FF5400;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.Ptbc {
    color: #424247;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

/*  banner section */
.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-color: #13131857;
    background-blend-mode: multiply;
    height: 500px;
    max-width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;

}

.banner-text {
    color: #FFF;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    max-width: 700px;

}

.search {
    background-color: rgba(248, 244, 244, 0.27);
    background-blend-mode: multiply;
    padding: 16px;
    border-radius: 10px;
}

.s-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 24px;
    padding-left: 20px;
    border: none;
}

.primary-btn {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* Section 2 style ...our.. */

.section-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.img-2 {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
}

.div-text {
    max-width: 580px;
}

.our,
.upcoming {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.text-1 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.text-2 {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* Section 3 ...."choose " */

.choose {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 24px;
}

.choose-text {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    max-width: 650px;
    margin-top: 0px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    margin-top: 50px;
}

.pic-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    padding-top: 25px;
}

.pic-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    padding-top: 25px;
    margin-bottom: 100px;
}

.mal-pic,
.indo,
.sri,
.north,
.kash,
.ban,
.bandor {
    position: relative;
    height: auto;
}

.mal-pic img,
indo img,
.sri img,
.north img,
.kash img,
.ban img,
.bandor img {

    display: block;
}

.maldive,
.indo-n,
.sri-n,
.america,
.mir,
.desh,
.bon {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Section 4 ....why choose us.... */

.section-4 {
    display: flex;
    gap: 25px;
    padding-top: 50px;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 50px 32px 32px;
    max-width: 490px;
}

.maps {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 50px 32px 32px;
    max-width: 490px;
}

.price {
    max-width: 490px;
    padding: 32px 50px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    align-items: center;
    margin-bottom: 100px;
}

.price-s4 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* Newsletter */
.newsletter {
    display: flex;
    justify-content: space-between;
}

.news-1 {
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px 41px 40px 40px;
    max-width: 480px;
}

.news-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-text {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    max-width: 350px;
}

.news-input {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

#n-text {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 0px 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

#n-email {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 0px 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.subscribe {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    padding: 14px 0px;
}

.news-2 {
    position: relative;
    height: auto;
}

.new-2 img {
    width: 100%;
    display: block;
}

.save {
    position: absolute;
    bottom: 45px;
    right: 5px;
    background-color: #FF5400;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    padding: 16px;
}

.com {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;



}

.upto {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin: 0px;

}




/* footer section */

.hr {
    max-width: 870px;
}

footer {
    max-width: 1440px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.f-title {
    font-size: 30px;
    font-weight: 800;
    padding-left: 16px;
}

.f-img {
    width: 40px;
    height: 46px;

}

.social {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.text-3 {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    max-width: 800px;
    padding-left: 290px;
    padding-bottom: 30px;


}

.copy {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 110px;
    padding-top: 50px;

}

.hr {
    max-width: 800px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

/* My section */
.upcoming {
    padding-top: 0px;
    margin-top: 0px;
}

.myplan {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 0px;
    padding-top: 0px;
}

.enjoy {
    font-size: 30px;
    color: #100a07;
    padding-top: 0px;
    margin-top: 0px;
}

.saint img {
    border-radius: 16px;
}

.unique {
    padding-top: 100px;
}

.detial {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 10px 50px 50px;
}

.d-plan {
    color: #131318;
    font-size: 30px;
    font-weight: 800;
}

.d-text,
.start {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.january {
    color: orangered;
    font-size: 20px;
    font-weight: 800;
}






/* mobile device */

@media screen and (max-width:600px) {

    section {
        margin: 0px 20px;
        padding: 0px;
    }
    .nav-bar{
        display: block;
    }
    #home,.Ptbc {
            display: none;
    }

    .nav-title {
        font-size: 2rem;
        font-weight: 800;
        padding-left: 0rem;
    }

    .nav-img {
        width: 2.4rem;
        height: 3rem;

    }

    .banner {
        flex-direction: column;
        height: auto;
        border-radius: 10px;

    }

    .banner-title {
        font-size: 1.4rem;
        padding-top: 16px;
    }

    .banner-text {
        max-width: 400px;
    }

    .search {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .section-2,
    .myplan,
    .section-3,
    .section-4,
    .price-s4,
    .newsletter {
        flex-direction: column;
        gap: 30px;
    }

    .img-2 img,
    .saint img {
        max-width: 100%;
        display: inline;
        height: auto;
        vertical-align: middle;
    }

    .saint img {
        width: 100%;
        border-radius: 10px;
    }

    .choose-text {
        max-width: 500px;
    }

    .pic-1,
    .pic-2,
    .pic-3 {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        width: auto;
    }

    .text-3 {
        padding-left: 10px;
    }

    .hr {
        margin: 0px 20px 0px 20px;
    }

    .news-2 img {
        max-width: 100%;
        display: inline;
        height: auto;
        vertical-align: middle;
    }

    .mal-pic>img,
    .indo>img,
    .sri>img,
    .north>img,
    .kash>img,
    .ban>img,
    .bandor>img {
        width: 510px;
        display: inline;
        height: 300px;

    }

    .img-2>img {
        width: 510px;
        display: inline;
        height: 510px;
    }

    .section-2 {
        padding-top: 0px;
        margin-bottom: 0px;
    }

    .myplan {
        margin-top: 0px;
        padding-top: 0px;
    }


}

@media screen and (max-width:550px) {

    .mal-pic>img,
    .indo>img,
    .sri>img,
    .north>img,
    .kash>img,
    .ban>img,
    .bandor>img,
    .img-2>img {
        width: 410px;
        display: inline;
        height: 270px;

    }

    .img-2>img {
        width: 410px;
        display: inline;
        height: 420px;
    }

}

@media screen and (max-width:500px) {

    .mal-pic>img,
    .indo>img,
    .sri>img,
    .north>img,
    .kash>img,
    .ban>img,
    .bandor>img,
    .img-2>img {
        width: 390px;
        display: inline;
        height: 260px;

    }

    .img-2>img {
        width: 390px;
        display: inline;
        height: 400px;
    }

}

@media screen and (max-width:450px) {

    .mal-pic>img,
    .indo>img,
    .sri>img,
    .north>img,
    .kash>img,
    .ban>img,
    .bandor>img,
    .img-2>img {
        width: 350px;
        display: inline;
        height: 250px;

    }

    .img-2>img {
        width: 3500px;
        display: inline;
        height: 3600px;
    }

}

@media screen and (max-width:400px) {

    .mal-pic>img,
    .indo>img,
    .sri>img,
    .north>img,
    .kash>img,
    .ban>img,
    .bandor>img,
    .img-2>img {
        width: 300px;
        display: inline;
        height: 200px;

    }

    .img-2>img {
        width: 300px;
        display: inline;
        height: 310px;
    }

}

@media screen and (max-width:350px) {

    .mal-pic>img,
    .indo>img,
    .sri>img,
    .north>img,
    .kash>img,
    .ban>img,
    .bandor>img,
    .img-2>img {
        width: 250px;
        display: inline;
        height: 150px;

    }

    .img-2>img {
        width: 250px;
        display: inline;
        height: 260px;
    }

}