* {
    font-family: "Mulish", sans-serif;

}

section {
    margin: 50px 130px 50px 130px;
    max-width: 1170px;
}

/*header section style*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}

nav>ul {
    display: flex;

}

a {
    text-decoration: none;
}

nav li {
    list-style: none;
    padding-left: 50px;
}

.icon {
    display: flex;
    align-items: center;

}

.nav-title {
    font-size: 36px;
    font-weight: 800;
    padding-left: 16px;
}

.nav-img {
    width: 48px;
    height: 56px;

}

.infinite {
    color: #131318;
}

.travel {
    color: #FF5400;
}

#home {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.Ptbc {
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/*  banner section */
.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-color: #13131857;
    background-blend-mode: multiply;
    height: 500px;
    max-width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;

}

.banner-text {
    color: #FFF;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    max-width: 700px;

}

.search {
    background-color: rgba(248, 244, 244, 0.27);
    background-blend-mode: multiply;
    padding: 16px;
    border-radius: 10px;
}

.s-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 24px;
    padding-left: 20px;
    border: none;
}

.primary-btn {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* Section 2 style ...our.. */

.section-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.img-2 {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
}

.div-text {
    max-width: 580px;
}

.our {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.text-1 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.text-2 {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* Section 3 ...."choose " */

.choose{
    color: #131318;
        /* text-align: center; */
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 0px;
        padding-bottom: 24px;
}
.choose-text{
    color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        width: 650px;
        margin-top: 0px;
}
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic-1{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    column-gap: 25px;
    margin-top: 50px;
}
.pic-2{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
        padding-top: 25px;
}
.pic-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    padding-top: 25px;
    margin-bottom: 100px;
}









/* footer section */

footer {
    max-width: 1440px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.f-title {
    font-size: 30px;
    font-weight: 800;
    padding-left: 16px;
}

.f-img {
    width: 40px;
    height: 46px;

}

.social {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.text-3 {
    color: #5A5A5D;
    text-align: center; 
    font-size: 16px;
    font-weight: 400;
    max-width: 800px;
    padding-left: 290px;
    padding-bottom: 30px; 
   

}

.copy {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 110px;
    padding-top: 50px;

}

.hr {
    max-width: 800px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}